# Replacing Covid Tracking Project - Simplified Workflow

>NOTE: ~~See  final workflow in the final script: `data_acquisition.py`~~ **as of 08/12, the development of the data acquisition code has moved back to "`Exploring Options for Replacing Covid Tracking Project Data_08-2021.ipynb`"**

- 08/09/21

- This is a companion notebook to `Exploring Options for Replacing Covid Tracking Project Data_08-2021`
- The goal is to only save the final pieces of code required to produce the dataset, and to exclude testing things out and info displays

## Summary

- Download kaggle data for the deaths and cases counts
- Download Socrata HHS data for hospital info
- Get all as daily frequency and with State Abbrevs before merging

In [1]:
# !pip install -U fsds
from fsds.imports import *

import os,zipfile,json,joblib
pd.set_option('display.max_columns',0)

fsds v0.3.2 loaded.  Read the docs: https://fs-ds.readthedocs.io/en/latest/

In [2]:
## Appending folder with functions
%load_ext autoreload 
%autoreload 2
# import sys
# sys.path.append('.')

import functions as fn
# help(fn)

# Data

## Specifying File Destinations

In [3]:
## Specifying data storage folders
fpath_raw = r"data_raw"
fpath_clean = r"data/"
[os.makedirs(fpath,exist_ok=True) for fpath in [fpath_clean,fpath_raw]];

## Covid-19 Data From Johns Hopkins University

- https://www.kaggle.com/antgoldbloom/covid19-data-from-john-hopkins-university
- Comes with CONVENIENT_ files and RAW_ files.

In [4]:
## Download kaggle jhu data and make zipfile object
# !kaggle datasets download -p "{fpath_raw}" -d antgoldbloom/covid19-data-from-john-hopkins-university
os.system(f'kaggle datasets download -p "{fpath_raw}" -d antgoldbloom/covid19-data-from-john-hopkins-university')


jhu_data_zip = zipfile.ZipFile(os.path.join(fpath_raw,'covid19-data-from-john-hopkins-university.zip'))
jhu_data_zip.namelist()

['CONVENIENT_global_confirmed_cases.csv',
 'CONVENIENT_global_deaths.csv',
 'CONVENIENT_global_metadata.csv',
 'CONVENIENT_us_confirmed_cases.csv',
 'CONVENIENT_us_deaths.csv',
 'CONVENIENT_us_metadata.csv',
 'RAW_global_confirmed_cases.csv',
 'RAW_global_deaths.csv',
 'RAW_us_confirmed_cases.csv',
 'RAW_us_deaths.csv']

In [5]:
## Getting State Abbrevs
state_abbrevs = pd.read_csv('Reference Data/united_states_abbreviations.csv')

## Making dicts of Name:Abbrev and Abbrev:Name
state_to_abbrevs_map = dict(zip(state_abbrevs['State'],state_abbrevs['Abbreviation']))
abbrev_to_state_map = dict(zip(state_abbrevs['Abbreviation'],state_abbrevs['State']))
# state_to_abbrevs_map

### prep `df_metadata`

In [6]:
# prep df_metadata
file = 'CONVENIENT_us_metadata.csv'
jhu_data_zip.extract(file,path=fpath_raw)
df_metadata = pd.read_csv(os.path.join(fpath_raw,file))

## Adding State Abbrevas to kaggle metadata
df_metadata.insert(1,'State_Code',df_metadata['Province_State'].map(state_to_abbrevs_map))
print(df_metadata.isna().sum())

## Dropping us territories
df_metadata.dropna(subset=['State_Code'], inplace=True)

## Saving county info
df_metadata.to_csv(os.path.join(fpath_clean,"us_metadata_counties.csv"),index=False)
df_metadata

Province_State    0
State_Code        6
Admin2            6
Population        0
Lat               0
Long              0
dtype: int64

     Province_State State_Code      Admin2  Population        Lat        Long
0           Alabama         AL     Autauga       55869  32.539527  -86.644082
1           Alabama         AL     Baldwin      223234  30.727750  -87.722071
2           Alabama         AL     Barbour       24686  31.868263  -85.387129
3           Alabama         AL        Bibb       22394  32.996421  -87.125115
4           Alabama         AL      Blount       57826  33.982109  -86.567906
...             ...        ...         ...         ...        ...         ...
3337        Wyoming         WY       Teton       23464  43.935225 -110.589080
3338        Wyoming         WY       Uinta       20226  41.287818 -110.547578
3339        Wyoming         WY  Unassigned           0   0.000000    0.000000
3340        Wyoming         WY    Washakie        7805  43.904516 -107.680187
3341        Wyoming         WY      Weston        6927  43.839612 -104.567488

[3336 rows x 6 columns]

In [7]:
## Saving a states-only version with aggregated populations and mean lat/long
df_state_metadata = df_metadata.groupby('Province_State',as_index=False).agg({'Population':'sum',
                                               "Lat":'mean',"Long":"mean"})
df_state_metadata.insert(1,'State_Code',df_state_metadata['Province_State'].map(state_to_abbrevs_map))
df_state_metadata.to_csv(os.path.join(fpath_clean,"us_metadata_states.csv"),index=False)
df_state_metadata

          Province_State State_Code  Population        Lat        Long
0                Alabama         AL     4903185  31.931113  -84.196785
1                 Alaska         AK      740995  56.628273 -139.571540
2                Arizona         AZ     7278717  29.714033  -98.349911
3               Arkansas         AR     3017804  34.005087  -90.033096
4             California         CA    39512223  36.582496 -116.704308
5               Colorado         CO     5758736  37.755612 -102.289687
6            Connecticut         CT     3565287  33.290944  -58.125464
7               Delaware         DE      973764  23.465566  -45.319942
8   District of Columbia         DC      705749  12.968059  -25.672187
9                Florida         FL    21477737  28.101892  -80.303621
10               Georgia         GA    10617423  32.400973  -82.539201
11                Hawaii         HI     1415872  15.020202 -112.373740
12                 Idaho         ID     1787065  42.338906 -109.483598
13              Illinois         IL    12671821  39.077394  -87.463362
14               Indiana         IN     6732219  38.989750  -84.384131
15                  Iowa         IA     3155070  41.197635  -91.614717
16                Kansas         KS     2913314  37.766026  -96.251195
17              Kentucky         KY     4467673  37.005387  -83.803171
18             Louisiana         LA     4648794  30.150233  -89.041636
19                 Maine         ME     1344212  39.722390  -61.798905
20              Maryland         MD     6045680  36.013773  -70.777355
21         Massachusetts         MA     6892503  37.117303  -63.016296
22              Michigan         MI     9986857  42.018626  -81.265296
23             Minnesota         MN     5639632  44.528372  -92.308909
24           Mississippi         MS     2976149  32.011947  -87.511304
25              Missouri         MO     6626371  37.804955  -90.931699
26               Montana         MT     1068778  45.354874 -105.917623
27              Nebraska         NE     1934408  40.451862  -96.953980
28                Nevada         NV     3080156  35.123787 -105.188836
29         New Hampshire         NH     1359711  36.232477  -59.648047
30            New Jersey         NJ     8882190  36.783272  -68.133541
31            New Mexico         NM     2096829  32.575110  -99.836416
32              New York         NY    19453561  41.214647  -73.115615
33        North Carolina         NC    10488084  34.925696  -77.942254
34          North Dakota         ND      762062  45.670106  -96.603961
35                  Ohio         OH    11689100  39.414877  -80.994621
36              Oklahoma         OK     3956971  34.603132  -94.789339
37                Oregon         OR     4217737  42.150695 -115.083398
38          Pennsylvania         PA    12801989  39.634946  -75.365598
39           Puerto Rico         PR     3754939  17.783793  -64.747252
40          Rhode Island         RI     1059361  29.753673  -51.045789
41        South Carolina         SC     5148714  32.542577  -77.609091
42          South Dakota         SD      884659  42.970557  -96.389735
43             Tennessee         TN     6829174  35.145203  -84.333285
44                 Texas         TX    28995881  31.413295  -97.882342
45                  Utah         UT     3205958  37.528405 -105.527566
46               Vermont         VT      623989  38.639559  -63.598833
47              Virginia         VA     8535519  37.009615  -77.350546
48            Washington         WA     7614893  44.929699 -114.830478
49         West Virginia         WV     1792147  37.452350  -77.788772
50             Wisconsin         WI     5822434  43.195275  -87.371008
51               Wyoming         WY      578759  39.639935  -98.580983

In [8]:
## Making and saving remapping dicts
import joblib

state_to_abbrevs_meta = dict(zip(df_state_metadata['Province_State'],df_state_metadata['State_Code']))
abbrev_to_state_meta = dict(zip(df_state_metadata['State_Code'],df_state_metadata['Province_State']))

joblib.dump(state_to_abbrevs_meta, os.path.join(fpath_clean,'state_names_to_codes_map.joblib'))
joblib.dump(abbrev_to_state_meta, os.path.join(fpath_clean,'state_codes_to_names_map.joblib'))

## save mapper fo state to code for function
mapper_path = os.path.join(fpath_clean,'state_names_to_codes_map.joblib')
mapper_path

'data/state_names_to_codes_map.joblib'

### def `load_raw_ts_file` & `melt_df_to_ts`

In [9]:
%load_ext autoreload
%autoreload 2
import data_acquisition as da
# help(da)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
# def load_raw_ts_file(jhu_data_zip, file = 'RAW_us_confirmed_cases.csv',
#                      mapper_path='data/state_names_to_codes_map.joblib',
#                     verbose=True):
    
#     if verbose: 
#         print(f"Loading data from {file}")
#     state_to_abbrevs_meta = joblib.load(mapper_path)
    
#     ## Extract and load csv
#     jhu_data_zip.extract(file)
#     data = pd.read_csv(file)
    
#     ## Drop states not included in metadata
#     data.insert(1,'State_Code',data['Province_State'].map(state_to_abbrevs_meta))
#     data.dropna(subset=['State_Code'],inplace=True)
#     return data

help(da.load_raw_ts_file)

# def melt_df_to_ts(df_cases,value_name, var_name='Date',
#                   multi_index_cols=['State_Code','Date'],
#                   id_cols = ['Province_State',"State_Code",'Admin2'],
#                   cols_to_drop=['iso2','iso3','code3','UID','Country_Region',
#                                 'Combined_Key','Lat','Long_','FIPS']):
    
# #     value_cols = [c for c in df_cases.columns if c not in [*cols_to_drop,*id_cols]]
    
#     ## Remove any cols not in the actual dataframe
#     id_cols = [c for c in id_cols if c in df_cases.columns] 
#     cols_to_drop = [c for c in cols_to_drop if c in df_cases.columns] 
    
#     ## CHECKING FOR NON-DATE COLS TO REMOVE
#     value_cols = [c for c in df_cases.columns if c not in [*id_cols,*cols_to_drop]]
#     value_cols = list(filter(lambda x: len(x.split('/'))>1,value_cols))
    
    
#     df_cases_ts = pd.melt(df_cases, 
#                           id_vars=id_cols, value_vars=value_cols,
#                           var_name=var_name, value_name=value_name)
    
#     df_cases_ts['Date'] = pd.to_datetime(df_cases_ts['Date'])
#     df_cases_ts = df_cases_ts.set_index(multi_index_cols).sort_index()
#     return df_cases_ts

help(da.melt_df_to_ts)

Help on function load_raw_ts_file in module data_acquisition:

load_raw_ts_file(jhu_data_zip, file='RAW_us_confirmed_cases.csv', mapper_path='data/state_names_to_codes_map.joblib', verbose=True)

Help on function melt_df_to_ts in module data_acquisition:

melt_df_to_ts(df_cases, value_name, var_name='Date', multi_index_cols=['State_Code', 'Date'], id_cols=['Province_State', 'State_Code', 'Admin2'], cols_to_drop=['iso2', 'iso3', 'code3', 'UID', 'Country_Region', 'Combined_Key', 'Lat', 'Long_', 'FIPS'])

In [11]:
## Prep ` df_cases_ts`
df_cases = da.load_raw_ts_file(jhu_data_zip, file = 'RAW_us_confirmed_cases.csv',)
df_cases_ts = da.melt_df_to_ts(df_cases,'Cases')
df_cases_ts

Loading data from RAW_us_confirmed_cases.csv

                      Province_State          Admin2  Cases
State_Code Date
AK         2020-01-22         Alaska  Aleutians East      0
           2020-01-22         Alaska  Aleutians West      0
           2020-01-22         Alaska       Anchorage      0
           2020-01-22         Alaska          Bethel      0
           2020-01-22         Alaska     Bristol Bay      0
...                              ...             ...    ...
WY         2021-08-14        Wyoming           Teton   4068
           2021-08-14        Wyoming           Uinta   2593
           2021-08-14        Wyoming      Unassigned      0
           2021-08-14        Wyoming        Washakie    967
           2021-08-14        Wyoming          Weston    705

[1904856 rows x 3 columns]

In [12]:
## Prep df_deaths_ts
df_deaths = da.load_raw_ts_file(jhu_data_zip,file = 'RAW_us_deaths.csv')
df_deaths_ts = da.melt_df_to_ts(df_deaths,'Deaths')
df_deaths_ts

Loading data from RAW_us_deaths.csv

                      Province_State          Admin2  Deaths
State_Code Date
AK         2020-01-22         Alaska  Aleutians East       0
           2020-01-22         Alaska  Aleutians West       0
           2020-01-22         Alaska       Anchorage       0
           2020-01-22         Alaska          Bethel       0
           2020-01-22         Alaska     Bristol Bay       0
...                              ...             ...     ...
WY         2021-08-14        Wyoming           Teton      11
           2021-08-14        Wyoming           Uinta      14
           2021-08-14        Wyoming      Unassigned       0
           2021-08-14        Wyoming        Washakie      26
           2021-08-14        Wyoming          Weston       6

[1904856 rows x 3 columns]

### pd.merge for `df_cases_deaths_ts`

In [13]:
## Merge df_cases_ts and df_deaths_ts
df_cases_deaths_ts = pd.merge(df_cases_ts.reset_index(), df_deaths_ts.reset_index())
df_cases_deaths_ts

        State_Code       Date Province_State          Admin2  Cases  Deaths
0               AK 2020-01-22         Alaska  Aleutians East      0       0
1               AK 2020-01-22         Alaska  Aleutians West      0       0
2               AK 2020-01-22         Alaska       Anchorage      0       0
3               AK 2020-01-22         Alaska          Bethel      0       0
4               AK 2020-01-22         Alaska     Bristol Bay      0       0
...            ...        ...            ...             ...    ...     ...
1904851         WY 2021-08-14        Wyoming           Teton   4068      11
1904852         WY 2021-08-14        Wyoming           Uinta   2593      14
1904853         WY 2021-08-14        Wyoming      Unassigned      0       0
1904854         WY 2021-08-14        Wyoming        Washakie    967      26
1904855         WY 2021-08-14        Wyoming          Weston    705       6

[1904856 rows x 6 columns]

#### Saving df_cases_deaths_ts `'us_states_cases_deaths.csv'`

In [14]:
df_cases_deaths_ts.to_csv(os.path.join(fpath_clean,'us_states_cases_deaths.csv'),index=True)

### Making & saving  "`df_daily_cases_deaths_ts`"

In [15]:
df_daily_cases_deaths_ts = df_cases_deaths_ts.set_index('Date')\
                                .groupby('State_Code').resample("D")\
                                    .sum().reset_index()
df_daily_cases_deaths_ts.to_csv(os.path.join(fpath_clean,'us_states_daily_cases_deaths.csv'),index=True)
df_daily_cases_deaths_ts

      State_Code       Date  Cases  Deaths
0             AK 2020-01-22      0       0
1             AK 2020-01-23      0       0
2             AK 2020-01-24      0       0
3             AK 2020-01-25      0       0
4             AK 2020-01-26      0       0
...          ...        ...    ...     ...
29687         WY 2021-08-10  67326     793
29688         WY 2021-08-11  67582     793
29689         WY 2021-08-12  67957     793
29690         WY 2021-08-13  68272     793
29691         WY 2021-08-14  68272     793

[29692 rows x 4 columns]

In [16]:
# pd.concat([df_cases_ts,df_deaths_ts],axis=1)

## New Hospital Data [Added 08/13/21]

- From "`0_Exploring Options for Replacing Covid Tracking Project Data_08-2021.ipynb`"

In [17]:
# def get_hospital_data():
#     offset = 0
#     ## Getting Hospital Capacity Data
#     base_url = 'https://healthdata.gov/resource/g62h-syeh.csv'
#     page = 0
#     results = []

#     ## seting random, large page-len
#     page_len = 1000

#     while (page_len>0):
#         try:
#             print(f"[i] Page {page} (offset = {offset})")
#             url = base_url+f"?$offset={offset}"
#             df_temp = pd.read_csv(url)
#             results.append(df_temp)

#             page_len = len(df_temp)
#             offset+=page_len
#             page+=1
#         except Exception as e:
#             print('[!] ERROR:')
#             print(e)
#             print('-- returning raw results list instead of dataframe..')
#             return results
        
#     return pd.concat(results)

# hospital_df = get_hospital_data()
# hospital_df

help(da.get_hospital_data)

Help on function get_hospital_data in module data_acquisition:

get_hospital_data()

In [18]:
# ## Get hospital data with function
# df1 = get_hospital_data()
# df1 = df1.rename({'state':'State_Code',
#                  'date','Date'})
# df1['Date'] = pd.to_datetime(df1['Date'])
# df1 = df1.sort_values(['State_Code','Date'])
# df1

In [19]:
import datetime as dt
today = dt.date.today().strftime("%m-%d-%Y")
# df1.to_csv(os.path.join(fpath_raw,f'hospital_data_{today}.csv'))

### Saving Columns

In [20]:
# class ColumnDict(dict):
#     """Inherits from a normal dictionary.
    
#     Methods:
#         find_expr_cols: methods for finding columns based on expressions
#                         saves the column names under with the expression  as key
#         get_all_values: gets list of all unique values stored in dict
#     Adds 
#     Also saved keep_keys True/False dict of expressions that should be kept or dropped
#     """
#     keep_keys = {True:list(),False:list(),'id':list()} # Expressions 
#     keep_cols = {True:list(),False:list()} # column names
    
#     def __init__(self, id_cols=[],*args,**kwargs):

#         self.id_cols=id_cols
#         ## Empty list of keep keys/cols
# #         self['id'] = self.id_cols
#         self.keep_keys = {True:list(),False:list(),'id':self.id_cols} # Expressions 
#         self.keep_cols = {True:[*self.id_cols],False:list()} # column names
#     #     id_cols = list() ## id columns to be auto-kept 
#         super().__init__(*args,**kwargs)
    

    
#     def get_all_values(self,keep=None):
#         """Retrieves list of unique column names:
#         Args:
#             keep (None, True, False): determines subset of columns returned
#             # Adapter from: https://www.geeksforgeeks.org/python-concatenate-dictionary-value-lists/
#             """
#         if keep is None:
#             from itertools import chain
#             return [*self.id_cols,*set(list(chain(*self.values())))]
        
#         elif keep==True:
#             col_list = list(set(self.keep_cols[keep]))
#             return [*self.id_cols, *[c for c in col_list if c not in self.id_cols]]
# #             return list(set([*self.id_cols,*]))
#         elif keep==False:
#             return list(set(self.keep_cols[keep]))

        
        
#     def find_expr_cols(self,expressions,df,keep,exlcude_known_cols=None):
#         """Saves lists of column names as values in dict
#         Args:
#             Expresssions (str,list): patterns to find in column names 
#             df (DataFrame): dataframe to check
#             keep (bool): saves expr and cols keep_cols/keep_keys as True or False
            
#         TO DO:
#             exlcude_known_cols (NOT IMPLEMENTED YET): will check if found columns 
#                                 are already in any of the known lists of cols
                                
                                
                                
#         EXAMPLE USAAGE:
#         >>> COLUMNS = ColumnDict()
#         >>> COLUMNS.find_expr_cols(['staffing','previous_day','coverage'],
#                                     df1,keep=False)
#         """
            
#         if isinstance(expressions,str):
#                 expressions = [expressions]
                
#         for expr in expressions:
#             found_cols = [c for c in df.columns if expr in c]
#             self[expr] = found_cols

#             ## Save exression and fond_cols to keep_keys/keep_cols
#             self.keep_keys[keep].append(expr)
            
#             [self.keep_cols[keep].append(c) for c in found_cols if c not in self.keep_cols[keep]]

help(da.ColumnDict)

Help on class ColumnDict in module data_acquisition:

class ColumnDict(builtins.dict)
 |  ColumnDict(id_cols=[], *args, **kwargs)
 |
 |  Inherits from a normal dictionary.
 |
 |  Methods:
 |      find_expr_cols: methods for finding columns based on expressions
 |                      saves the column names under with the expression  as key
 |      get_all_values: gets list of all unique values stored in dict
 |  Adds
 |  Also saved keep_keys True/False dict of expressions that should be kept or dropped
 |
 |  Method resolution order:
 |      ColumnDict
 |      builtins.dict
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, id_cols=[], *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  find_expr_cols(self, expressions, df, keep, exlcude_known_cols=None)
 |      Saves lists of column names as values in dict
 |      Args:
 |          Expresssions (str,list): patterns to find in column names
 |          df (DataFrame): dataframe to check
 |          keep (bool): saves expr and cols keep_cols/keep_keys as True or False
 |
 |      TO DO:
 |          exlcude_known_cols (NOT IMPLEMENTED YET): will check if found columns
 |                              are already in any of the known lists of cols
 |
 |
 |
 |      EXAMPLE USAAGE:
 |      >>> COLUMNS = ColumnDict()
 |      >>> COLUMNS.find_expr_cols(['staffing','previous_day','coverage'],
 |                                  df1,keep=False)
 |
 |  get_all_values(self, keep=None)
 |      Retrieves list of unique column names:
 |      Args:
 |          keep (None, True, False): determines subset of columns returned
 |          # Adapter from: https://www.geeksforgeeks.org/python-concatenate-dictionary-value-lists/
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  keep_cols = {False: [], True: []}
 |
 |  keep_keys = {True: [], False: [], 'id': []}
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from builtins.dict:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from builtins.dict:
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods inherited from builtins.dict:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from builtins.dict:
 |
 |  __hash__ = None

# Full Workflow

### Making `df_hospitals`

In [21]:
FULL_WORKFLOW =True

import datetime as dt
today = dt.date.today().strftime("%m-%d-%Y")
# df1.to_csv(os.path.join(fpath_raw,f'hospital_data_{today}.csv'))


if FULL_WORKFLOW:
    ## Get hospital data with function

    ## Get hospital data with function
    df1 = da.get_hospital_data()
    df1 = df1.rename({'state':'State_Code',
                     'date':'Date'},axis=1)
    df1['Date'] = pd.to_datetime(df1['Date'])
    df1 = df1.sort_values(['State_Code','Date'])

[i] Page 0 (offset = 0)
[i] Page 1 (offset = 1000)
[i] Page 2 (offset = 2000)
[i] Page 3 (offset = 3000)
[i] Page 4 (offset = 4000)
[i] Page 5 (offset = 5000)
[i] Page 6 (offset = 6000)
[i] Page 7 (offset = 7000)
[i] Page 8 (offset = 8000)
[i] Page 9 (offset = 9000)
[i] Page 10 (offset = 10000)
[i] Page 11 (offset = 11000)
[i] Page 12 (offset = 12000)
[i] Page 13 (offset = 13000)
[i] Page 14 (offset = 14000)
[i] Page 15 (offset = 15000)
[i] Page 16 (offset = 16000)
[i] Page 17 (offset = 17000)
[i] Page 18 (offset = 18000)
[i] Page 19 (offset = 19000)
[i] Page 20 (offset = 20000)
[i] Page 21 (offset = 21000)
[i] Page 22 (offset = 22000)
[i] Page 23 (offset = 23000)
[i] Page 24 (offset = 24000)
[i] Page 25 (offset = 25000)
[i] Page 26 (offset = 26000)
[i] Page 27 (offset = 27000)
[i] Page 28 (offset = 28000)
[i] Page 29 (offset = 28477)

In [22]:
COLUMNS = da.ColumnDict(id_cols=['State_Code','Date'])

## saving names to DROP to COLUMNS dict
drop_col_expressions = ['staff','previous_day','coverage','onset']
COLUMNS.find_expr_cols(drop_col_expressions,df1,keep=False)


## saving names to KEEP to COLUMNS dict
keep_col_expressions = ['inpatient_bed','adult_icu_bed','utilization',
                        'total_adult_patients','total_pediatric_patients',
                       'percent_of_inpatients_with_covid','deaths']
COLUMNS.find_expr_cols(keep_col_expressions,df1,keep=True)


## Making df_hospitals
df_hospitals = df1[COLUMNS.get_all_values(keep=True)].copy()
df_hospitals = df_hospitals.set_index(COLUMNS.id_cols).sort_index()
df_hospitals.reset_index().to_csv(os.path.join(fpath_raw,'hospital_data.csv'))

df_hospitals#.loc['MD',['inpatient_beds_utilization']].plot()

                      inpatient_beds_coverage  ...  total_adult_patients_hospitalized_confirmed_covid
State_Code Date                                ...
AK         2020-03-23                       1  ...                                                NaN
           2020-03-24                       1  ...                                                NaN
           2020-03-25                       1  ...                                                NaN
           2020-03-26                       1  ...                                                NaN
           2020-03-27                       2  ...                                                NaN
...                                       ...  ...                                                ...
WY         2021-08-11                      31  ...                                               97.0
           2021-08-12                      31  ...                                               99.0
           2021-08-13                      31  ...                                               99.0
           2021-08-14                      31  ...                                              106.0
           2021-08-15                      31  ...                                              106.0

[28477 rows x 40 columns]

# **BOOKMARK 08/14/21** - combining new hospital data

### JOIN `df_hospitals` and `df_daily_cases_deaths_ts`

In [23]:
# df_cases_deaths_ts.set_index('Date').groupby('State_Code').resample("D").sum().reset_index()
df_daily_cases_deaths_ts

      State_Code       Date  Cases  Deaths
0             AK 2020-01-22      0       0
1             AK 2020-01-23      0       0
2             AK 2020-01-24      0       0
3             AK 2020-01-25      0       0
4             AK 2020-01-26      0       0
...          ...        ...    ...     ...
29687         WY 2021-08-10  67326     793
29688         WY 2021-08-11  67582     793
29689         WY 2021-08-12  67957     793
29690         WY 2021-08-13  68272     793
29691         WY 2021-08-14  68272     793

[29692 rows x 4 columns]

In [24]:
df_hospitals.reset_index()

      State_Code  ... total_adult_patients_hospitalized_confirmed_covid
0             AK  ...                                               NaN
1             AK  ...                                               NaN
2             AK  ...                                               NaN
3             AK  ...                                               NaN
4             AK  ...                                               NaN
...          ...  ...                                               ...
28472         WY  ...                                              97.0
28473         WY  ...                                              99.0
28474         WY  ...                                              99.0
28475         WY  ...                                             106.0
28476         WY  ...                                             106.0

[28477 rows x 42 columns]

In [37]:
## combine all data
df = pd.merge(df_daily_cases_deaths_ts,df_hospitals.reset_index())
df.to_csv(os.path.join(fpath_clean,'combined_us_states_full_data.csv'),index=False)
df

      State_Code  ... total_adult_patients_hospitalized_confirmed_covid
0             AK  ...                                               NaN
1             AK  ...                                               NaN
2             AK  ...                                               NaN
3             AK  ...                                               NaN
4             AK  ...                                               NaN
...          ...  ...                                               ...
27769         WY  ...                                             100.0
27770         WY  ...                                              97.0
27771         WY  ...                                              99.0
27772         WY  ...                                              99.0
27773         WY  ...                                             106.0

[27774 rows x 44 columns]

## Make `STATES` dict

In [26]:
df['State_Code'].unique()

array(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
       'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
       'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
       'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC', 'SD', 'TN',
       'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'], dtype=object)

In [27]:
unique_states = df['State_Code'].unique()
len(unique_states)

52

In [28]:
df_states = df.set_index(['State_Code','Date']).sort_index()
df_states

                       Cases  ...  total_adult_patients_hospitalized_confirmed_covid
State_Code Date               ...
AK         2020-03-23     39  ...                                                NaN
           2020-03-24     43  ...                                                NaN
           2020-03-25     50  ...                                                NaN
           2020-03-26     64  ...                                                NaN
           2020-03-27     75  ...                                                NaN
...                      ...  ...                                                ...
WY         2021-08-10  67326  ...                                              100.0
           2021-08-11  67582  ...                                               97.0
           2021-08-12  67957  ...                                               99.0
           2021-08-13  68272  ...                                               99.0
           2021-08-14  68272  ...                                              106.0

[27774 rows x 42 columns]

In [29]:
STATES = {}

for state in unique_states:
    ## Reset the state's datafranes for pd.merge
#     df_cases_temp = df_cases_ts.loc[state].reset_index()
#     df_deaths_temp = df_deaths_ts.loc[state].reset_index()

#     ## Merge using date and Admin2/county
#     df_merged = pd.merge(df_cases_temp, df_deaths_temp, on=['Date','Admin2'])
#     df_merged_ts = df_merged.set_index("Date").resample('D').sum()
    
    df_merged_ts = df_states.loc[state]
#     df_merged_ts.columns = [f"{c}-{state}" for c in df_merged_ts.columns]    
    
    STATES[state] = df_merged_ts.copy()

STATES.keys()

dict_keys(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'])

In [30]:
STATES['NY']

              Cases  ...  total_adult_patients_hospitalized_confirmed_covid
Date                 ...
2020-03-14      557  ...                                                NaN
2020-03-15      633  ...                                                NaN
2020-03-16      961  ...                                                NaN
2020-03-17     1407  ...                                                NaN
2020-03-18     2507  ...                                                NaN
...             ...  ...                                                ...
2021-08-10  2180696  ...                                             1385.0
2021-08-11  2187349  ...                                             1475.0
2021-08-12  2192224  ...                                             1563.0
2021-08-13  2196866  ...                                             1651.0
2021-08-14  2201468  ...                                             1619.0

[517 rows x 42 columns]

### Test individual state before making loop

In [31]:
## Saving CSVs
DATA_FOLDER = os.path.join(fpath_clean,'state_data/')
os.makedirs(DATA_FOLDER,exist_ok=True)
os.listdir(DATA_FOLDER)

['combined_data_PR.csv.gz',
 'combined_data_FL.csv.gz',
 'combined_data_NV.csv.gz',
 'combined_data_MD.csv.gz',
 'combined_data_KS.csv.gz',
 'combined_data_IA.csv.gz',
 'combined_data_WI.csv.gz',
 'combined_data_ND.csv.gz',
 'combined_data_KY.csv.gz',
 'combined_data_NH.csv.gz',
 'combined_data_MN.csv.gz',
 'combined_data_OR.csv.gz',
 'combined_data_AK.csv.gz',
 'combined_data_WY.csv.gz',
 'combined_data_CO.csv.gz',
 'combined_data_WA.csv.gz',
 'combined_data_SD.csv.gz',
 'combined_data_CA.csv.gz',
 'combined_data_VA.csv.gz',
 'combined_data_NJ.csv.gz',
 'combined_data_MT.csv.gz',
 'combined_data_HI.csv.gz',
 'combined_data_OH.csv.gz',
 'combined_data_NC.csv.gz',
 'combined_data_IN.csv.gz',
 'combined_data_MI.csv.gz',
 'combined_data_ME.csv.gz',
 'combined_data_AL.csv.gz',
 'combined_data_DE.csv.gz',
 'combined_data_TX.csv.gz',
 'combined_data_TN.csv.gz',
 'combined_data_GA.csv.gz',
 'combined_data_SC.csv.gz',
 'combined_data_UT.csv.gz',
 'combined_data_AZ.csv.gz',
 'combined_data_NM.csv.gz',
 'combined_data_MS.csv.gz',
 'combined_data_IL.csv.gz',
 'combined_data_NY.csv.gz',
 'combined_data_PA.csv.gz',
 'combined_data_DC.csv.gz',
 'combined_data_AR.csv.gz',
 'combined_data_RI.csv.gz',
 'combined_data_MO.csv.gz',
 'combined_data_LA.csv.gz',
 'combined_data_OK.csv.gz',
 'combined_data_NE.csv.gz',
 'combined_data_ID.csv.gz',
 'combined_data_MA.csv.gz',
 'combined_data_WV.csv.gz',
 'combined_data_CT.csv.gz',
 'combined_data_VT.csv.gz']

In [32]:
df_states

                       Cases  ...  total_adult_patients_hospitalized_confirmed_covid
State_Code Date               ...
AK         2020-03-23     39  ...                                                NaN
           2020-03-24     43  ...                                                NaN
           2020-03-25     50  ...                                                NaN
           2020-03-26     64  ...                                                NaN
           2020-03-27     75  ...                                                NaN
...                      ...  ...                                                ...
WY         2021-08-10  67326  ...                                              100.0
           2021-08-11  67582  ...                                               97.0
           2021-08-12  67957  ...                                               99.0
           2021-08-13  68272  ...                                               99.0
           2021-08-14  68272  ...                                              106.0

[27774 rows x 42 columns]

In [33]:
STATES = {}
# DATA_FOLDER = fp

for state in unique_states:
#     df_cases_temp = df_cases_ts.loc[state].sort_index().resample("D").sum().diff().fillna(0)
#     df_deaths_temp = df_deaths_ts.loc[state].sort_index().resample("D").sum().diff().fillna(0)
#     df_hospital_temp = df_hospitals.loc[state].drop(columns='Province_State').sort_index().resample("D").asfreq().ffill().fillna(0)
    
#     df_state = pd.concat([df_cases_temp,df_deaths_temp,df_hospital_temp],axis=1).fillna(0)#.loc['03-2020':]
    df_state = df_states.loc[state].copy()
    df_state.to_csv(f"{DATA_FOLDER}combined_data_{state}.csv.gz",compression='gzip')   
    STATES[state] = df_state.copy()

STATES.keys()

dict_keys(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'])

In [34]:
STATES['MD']

             Cases  ...  total_adult_patients_hospitalized_confirmed_covid
Date                ...
2020-03-01       0  ...                                                NaN
2020-03-02       0  ...                                                NaN
2020-03-03       0  ...                                                NaN
2020-03-03       0  ...                                                NaN
2020-03-04       0  ...                                                NaN
...            ...  ...                                                ...
2021-08-10  475184  ...                                              444.0
2021-08-11  476070  ...                                              475.0
2021-08-12  477117  ...                                              482.0
2021-08-13  478067  ...                                              506.0
2021-08-14  479083  ...                                              519.0

[536 rows x 42 columns]

## Saving Data

In [35]:
import joblib
joblib.dump(STATES,os.path.join(fpath_clean,'STATE_DICT.joblib'))

['data/STATE_DICT.joblib']

In [36]:
STATES_LOADED = joblib.load(os.path.join(fpath_clean,'STATE_DICT.joblib'))
STATES_LOADED['TX']

              Cases  ...  total_adult_patients_hospitalized_confirmed_covid
Date                 ...
2020-01-22        0  ...                                                NaN
2020-01-23        0  ...                                                NaN
2020-01-24        0  ...                                                NaN
2020-01-25        0  ...                                                NaN
2020-01-25        0  ...                                                NaN
...             ...  ...                                                ...
2021-08-10  3272462  ...                                            10378.0
2021-08-11  3293869  ...                                            10628.0
2021-08-12  3306267  ...                                            11157.0
2021-08-13  3323844  ...                                            11056.0
2021-08-14  3334027  ...                                            11056.0

[577 rows x 42 columns]

# Summary

- by the end of the workflow the following files should be created:
    - data_raw:
    - `'us_states_cases_deaths.csv'`
    - `'combined_us_states_full_data.csv'`