# Scraping Country Population Data for COVID Dashboard

- Want to normalize statistics according to population
- Plan is to scrape the table from: 
    - https://www.worldometers.info/world-population/population-by-country/ 

- Actually, nevermind. Will use Kaggle:
    - https://www.kaggle.com/tanuprabhu/population-by-country-2020?select=population_by_country_2020.csv

In [1]:
!pip install -U fsds
from fsds.imports import *

fsds v0.2.27 loaded.  Read the docs: https://fs-ds.readthedocs.io/en/latest/

[i] Pandas .iplot() method activated.

## Using Kaggle Dataset

In [3]:
!kaggle datasets download -d tanuprabhu/population-by-country-2020

Downloading population-by-country-2020.zip to /Users/jamesirving/Documents/GitHub/_MY_PROJECTS/playing-with-coronavirus-data
  0%|                                               | 0.00/7.57k [00:00<?, ?B/s]
100%|██████████████████████████████████████| 7.57k/7.57k [00:00<00:00, 5.74MB/s]

In [9]:
import os,sys,shutil
sorted(os.listdir())

['.DS_Store',
 '.env',
 '.git',
 '.gitattributes',
 '.gitignore',
 '.ipynb_checkpoints',
 '.vscode',
 'New Data',
 'Old Data',
 'Old Notebooks',
 'Procfile',
 'Procfile.windows',
 'README.md',
 'Reference Data',
 '__pycache__',
 'app.py',
 'app2.py',
 'assets',
 'coronavirus-best-with-classes.ipynb',
 'coronavirus-v2-post-classes.ipynb',
 'coronavirus-v3-WIP.ipynb',
 'functions.py',
 'novel-corona-virus-2019-dataset',
 'population-by-country-2020.zip',
 'py-app.py',
 'requirements-large.txt',
 'requirements.txt',
 'runtime.txt',
 'scraping-population-data.ipynb',
 'setup.py',
 'testing.ipynb']

In [11]:
import os,sys,shutil
file = 'population-by-country-2020.zip'
data_folder = "New Data/"
target = os.path.join(data_folder,file)
target

'New Data/population-by-country-2020.zip'

In [12]:
shutil.move(file,target)
df = pd.read_csv(target)
df

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
230,Montserrat,4993,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,Falkland Islands,3497,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,Niue,1628,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,Tokelau,1360,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,Holy See,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [16]:
import functions as fn
import os
sorted(os.listdir())

['.DS_Store',
 '.env',
 '.git',
 '.gitattributes',
 '.gitignore',
 '.ipynb_checkpoints',
 '.vscode',
 'New Data',
 'Old Data',
 'Old Notebooks',
 'Procfile',
 'Procfile.windows',
 'README.md',
 'Reference Data',
 '__pycache__',
 'app.py',
 'app2.py',
 'assets',
 'coronavirus-best-with-classes.ipynb',
 'coronavirus-v2-post-classes.ipynb',
 'coronavirus-v3-WIP.ipynb',
 'functions.py',
 'novel-corona-virus-2019-dataset',
 'py-app.py',
 'requirements-large.txt',
 'requirements.txt',
 'runtime.txt',
 'scraping-population-data.ipynb',
 'setup.py',
 'testing.ipynb']

In [20]:
import os,sys,shutil
def download_world_pop(data_folder = "Reference Data/",load=True):
    """Downloads world pop zip from kaggle"""
    import os,sys,shutil

    # Download kaggle dataset
    os.system('kaggle datasets download -d tanuprabhu/population-by-country-2020')

    ## Specify file and target folder
    file = 'population-by-country-2020.zip'
    target = os.path.join(data_folder,file)

    ## Move zip file to target
    shutil.move(file,target)
    print(f'File saved to {target}')
    
    ## Load csv 
    if load:
        df = pd.read_csv(target)
    else:
        df = target
        return df

pop = download_world_pop()
pop

File saved to Reference Data/population-by-country-2020.zip

## BACK TO `coronavirus-v3-WIP`

In [21]:
corona = fn.CoronaData(verbose=True,run_workflow=True)
df_world=corona.df

[i] DOWNLOADING DATA USING KAGGLE API
	https://www.kaggle.com/sudalairajkumar/novel-corona-virus-2019-dataset
	- Downloaded dataset .zip and extracted to:"New Data/"
	- Extraction Complete.

        Date Province/State  Country/Region  Confirmed  Deaths  Recovered
0 2020-01-22          Anhui  Mainland China        1.0     0.0        0.0
1 2020-01-22        Beijing  Mainland China       14.0     0.0        0.0
2 2020-01-22      Chongqing  Mainland China        6.0     0.0        0.0
3 2020-01-22         Fujian  Mainland China        1.0     0.0        0.0
4 2020-01-22          Gansu  Mainland China        0.0     0.0        0.0

[i] There are 226 countries in the datatset
[i] Dates Covered:
	From 01-22-2020 to 11-15-2020

In [26]:
## Get WORLD dictionary with all countries
grouping_col = 'Country/Region'
countries = list(df_world.groupby(grouping_col).groups.keys())

WORLD = {}
for country in countries:
#     print(country)
    WORLD[country] = fn.get_group_ts(df_world,country, grouping_col,agg_func='sum')

WORLD['Russia']

            Russia - Confirmed  Russia - Deaths  Russia - Recovered
Date
2020-01-31                 2.0              0.0                 0.0
2020-02-01                 2.0              0.0                 0.0
2020-02-02                 2.0              0.0                 0.0
2020-02-03                 2.0              0.0                 0.0
2020-02-04                 2.0              0.0                 0.0
...                        ...              ...                 ...
2020-11-11           1822345.0          31326.0           1360049.0
2020-11-12           1843678.0          31755.0           1378463.0
2020-11-13           1865395.0          32156.0           1396851.0
2020-11-14           1887836.0          32536.0           1415213.0
2020-11-15           1910149.0          32885.0           1429565.0

[290 rows x 3 columns]

In [27]:
## Testing agg_func='last'
WORLD = {}
for country in countries:
#     print(country)
    WORLD[country] = fn.get_group_ts(df_world,country, grouping_col,agg_func='last')
WORLD['Russia']

,Russia - Province/State,Russia - Country/Region,Russia - Confirmed,Russia - Deaths,Russia - Recovered
Date,,,,,
2020-01-31,NaN,Russia,2.0,0.0,0.0
2020-02-01,NaN,Russia,2.0,0.0,0.0
2020-02-02,NaN,Russia,2.0,0.0,0.0
2020-02-03,NaN,Russia,2.0,0.0,0.0
2020-02-04,NaN,Russia,2.0,0.0,0.0
...,...,...,...,...,...
2020-11-11,Zabaykalsky Krai,Russia,14189.0,204.0,10352.0
2020-11-12,Zabaykalsky Krai,Russia,14444.0,208.0,11139.0
2020-11-13,Zabaykalsky Krai,Russia,14702.0,211.0,11559.0
2020-11-14,Zabaykalsky Krai,Russia,14961.0,214.0,12000.0
2020-11-15,Zabaykalsky Krai,Russia,15222.0,219.0,12262.0

In [27]:
pop[pop['Country (or dependency)']=='Russia']

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
8,Russia,145945524,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %

In [30]:
pop = pop[['Country (or dependency)','Population (2020)']]
pop.columns= ['country','population']
pop

              country  population
0               China  1440297825
1               India  1382345085
2       United States   331341050
3           Indonesia   274021604
4            Pakistan   221612785
..                ...         ...
230        Montserrat        4993
231  Falkland Islands        3497
232              Niue        1628
233           Tokelau        1360
234          Holy See         801

[235 rows x 2 columns]

In [36]:
countries_world = list(WORLD.keys())
countries_pop = pop['country'].unique().tolist()
len(countries_pop),len(countries_world)

(235, 223)

In [42]:
## Countries in Covid Data that are NOT in population data
unmatched_countries = list(filter(lambda x: x not in countries_pop,countries_world))
unmatched_countries

[' Azerbaijan',
 "('St. Martin',)",
 'Bahamas, The',
 'Burma',
 'Cape Verde',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 'Curacao',
 'Czech Republic',
 'Diamond Princess',
 'East Timor',
 'Faroe Islands',
 'Gambia, The',
 'Guernsey',
 'Ivory Coast',
 'Jersey',
 'Kosovo',
 'MS Zaandam',
 'Macau',
 'Mainland China',
 'North Ireland',
 'Others',
 'Palestine',
 'Republic of Ireland',
 'Republic of the Congo',
 'Reunion',
 'Saint Kitts and Nevis',
 'Saint Vincent and the Grenadines',
 'Sao Tome and Principe',
 'St. Martin',
 'The Bahamas',
 'The Gambia',
 'UK',
 'US',
 'Vatican City',
 'West Bank and Gaza',
 'occupied Palestinian territory']

In [41]:
unmatched_populaton_countries =list(filter(lambda x: x not in countries_world,countries_pop))
unmatched_populaton_countries

['China',
 'United States',
 'DR Congo',
 'United Kingdom',
 'Myanmar',
 "Côte d'Ivoire",
 'North Korea',
 'Czech Republic (Czechia)',
 'Turkmenistan',
 'Congo',
 'State of Palestine',
 'Réunion',
 'Solomon Islands',
 'Macao',
 'Vanuatu',
 'New Caledonia',
 'French Polynesia',
 'Sao Tome & Principe',
 'Samoa',
 'Curaçao',
 'Kiribati',
 'Micronesia',
 'St. Vincent & Grenadines',
 'Tonga',
 'U.S. Virgin Islands',
 'Isle of Man',
 'Bermuda',
 'Marshall Islands',
 'Northern Mariana Islands',
 'American Samoa',
 'Saint Kitts & Nevis',
 'Faeroe Islands',
 'Sint Maarten',
 'Turks and Caicos',
 'Saint Martin',
 'British Virgin Islands',
 'Caribbean Netherlands',
 'Palau',
 'Cook Islands',
 'Anguilla',
 'Tuvalu',
 'Wallis & Futuna',
 'Nauru',
 'Saint Helena',
 'Saint Pierre & Miquelon',
 'Montserrat',
 'Falkland Islands',
 'Niue',
 'Tokelau']

In [ ]:
rename_dict = {''}